.app-container{
    background-color: rgba(0,104,204,0.7);
    height: 100vh;
    border-radius: 3px;
    padding: 20px;
    position: relative;
    width: 100vw;
}

.img{
    width: 20%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}

.search{
    right: 20px;
    width: 50%;
    height: 50px;
    border-radius: 3px;
    padding: 10px;
    align-items: center;
}

